:root {
  --bg-dark: oklch(0.92 0.005 198);
  --bg: oklch(0.96 0.005 198);
  --bg-light: oklch(1 0.005 198);
  --text: oklch(0.15 0.01 198);
  --text-muted: oklch(0.4 0.01 198);
  --highlight: oklch(1 0.01 198);
  --border: oklch(0.6 0.01 198);
  --border-muted: oklch(0.7 0.01 198);
  --primary: oklch(0.4 0.1 198);
  --secondary: oklch(0.4 0.1 18);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

body,
html {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: var(--bg-dark);
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  border: solid 2px var(--border-muted);
  padding: 5px;
  height: 25%;
  width: 90vw;
  aspect-ratio: 20 / 9;
  background-color: var(--bg);
  border-radius: 20px;
  box-shadow: 0px 4px 8px hsl(0, 0%, 80%), 2px 1px 8px hsl(0, 0%, 60%);
}

.user {
  color: var(--text);
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* aspect-ratio: 14/1; */
  height: 10%;
  width: 100%;
  white-space: nowrap;
  gap: 10px;
}

.items {
  margin: 2.5px;
  width: 18vw;
  border: none;
  border-radius: 20px;
  color: var(--text-muted);
  background-color: var(--bg-light);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  flex-grow: 0;
  white-space: nowrap;
  box-shadow: 0px 0px 8px 1px hsl(0, 0%, 80%);
  gap: 2px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.time {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  border: none;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: var(--info);
  padding: 5px 5px 0px 5px;
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
  /* font-weight: bold; */
}

.text {
  padding: 0px 5px 5px 5px;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  font-size: 0.8rem;
}

.balloon-container {
  height: 100px;
  width: 80px;
  position: absolute;
  animation: rise 8s infinite ease;
  opacity: 0;
}

.balloon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: shake 1s infinite linear;
}

.balloon-container:nth-child(2 of .balloon-container) {
  height: 100px;
  width: 80px;
  position: absolute;
  animation: rise 8s infinite ease 2s;
  opacity: 0;
  right: 0;
}

.balloon:nth-child(2 of .balloon) {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: shake 1s infinite linear 2s;
}

.hidden {
  display: none;
}

.special-gothic-condensed-one-regular {
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes rise {
  0% {
    transform: translateY(100vh);
    opacity: 100;
  }

  100% {
    transform: translateY(-100vh);
    opacity: 100;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}
